# **Implementing Gabor on Test and Train Data**

In [ ]:
#import necessary libraries
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.cluster import KMeans
from itertools import cycle
from sklearn.preprocessing import label_binarize
%matplotlib inline
import cv2
import os

In [ ]:
train_path = "/content/drive/MyDrive/NEU-DET/train/images/"

In [ ]:
slices = []

In [ ]:
for dirName, subdirList, fileList in os.walk(train_path):
        for filename in fileList:
            if ".jpg" in filename.lower():
                slices.append(cv2.imread(os.path.join(dirName, filename),0))

In [ ]:
print(len(slices))

1440

In [ ]:
final = []
count = 0
label = 0

In [ ]:
df = pd.DataFrame()

In [ ]:
x_train = list()
y_train = list()
kernels = []
count = 0
num = 1

for i in range(len(slices)):
  img = slices[i]
  for theta in range(2):
    theta = theta /4. *np.pi
    for sigma in (1,3):
      for lamda in np.arange(0, np.pi, np.pi /4):
        for gamma in (0.05, 0.5):

          gabor_label = 'Gabor' + str(num)

          ksize = 9
          kernel = cv2.getGaborKernel((ksize, ksize), sigma, theta, lamda, gamma, 0, ktype=cv2.CV_32F)
          kernels.append(kernel)

          fimg = cv2.filter2D(img, cv2.CV_8UC3, kernel)
          filtered_img = fimg.reshape(-1)
          df[gabor_label] = filtered_img
          # print(gabor_label, ':theta', theta,':sigma', sigma, ':lamda', lamda, ':gamma', gamma )
          num +=1
    




  x_train.append(kernels)
  y_train.append(int(count/240))
  count +=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [ ]:
df

,Gabor1,Gabor2,Gabor3,Gabor4,Gabor5,Gabor6,Gabor7,Gabor8,Gabor9,Gabor10,...,Gabor46071,Gabor46072,Gabor46073,Gabor46074,Gabor46075,Gabor46076,Gabor46077,Gabor46078,Gabor46079,Gabor46080
0,0,0,255,163,91,50,34,19,0,0,...,126,21,0,0,255,255,26,12,56,33
1,0,0,255,167,97,53,39,21,0,0,...,126,23,0,0,255,255,32,19,56,34
2,0,0,255,174,107,58,46,25,0,0,...,122,23,0,0,255,255,26,12,54,33
3,0,0,255,174,103,56,41,21,0,0,...,120,24,0,0,255,255,33,19,50,30
4,0,0,255,175,104,58,44,25,0,0,...,120,23,0,0,255,255,25,12,52,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,0,0,255,151,86,47,34,18,0,0,...,187,38,0,0,255,255,42,22,84,52
39996,0,0,255,156,89,51,35,21,0,0,...,183,37,0,0,255,255,42,22,82,51
39997,0,0,255,158,95,54,41,23,0,0,...,171,30,0,0,255,255,43,23,69,39
39998,0,0,255,151,88,50,36,22,0,0,...,169,28,0,0,255,255,40,21,74,44
39999,0,0,255,140,81,39,30,11,0,0,...,172,32,0,0,255,255,41,22,84,54

In [ ]:
print(len(x_train))

1440

In [ ]:
# kernels

In [ ]:
print(len(y_train))

1440

# **Testing Dataset**

In [ ]:
val_path = "/content/drive/MyDrive/NEU-DET/validation/images/"

In [ ]:
test_slices = []

In [ ]:
for dirName, subdirList, fileList in os.walk(val_path):
        for filename in fileList:
            if ".jpg" in filename.lower():
                test_slices.append(cv2.imread(os.path.join(dirName, filename),0))

In [ ]:
print(len(test_slices))

360

In [ ]:
df1 = pd.DataFrame()

In [ ]:
x_test = list()
y_test = list()
kernels = []
count = 0
num = 1

for i in range(len(test_slices)):
  img = slices[i]
  for theta in range(2):
    theta = theta /4. *np.pi
    for sigma in (1,3):
      for lamda in np.arange(0, np.pi, np.pi /4):
        for gamma in (0.05, 0.5):

          gabor_label = 'Gabor' + str(num)

          ksize = 9
          kernel = cv2.getGaborKernel((ksize, ksize), sigma, theta, lamda, gamma, 0, ktype=cv2.CV_32F)
          kernels.append(kernel)

          fimg = cv2.filter2D(img, cv2.CV_8UC3, kernel)
          filtered_img = fimg.reshape(-1)
          df1[gabor_label] = filtered_img
          # print(gabor_label, ':theta', theta,':sigma', sigma, ':lamda', lamda, ':gamma', gamma )
          num +=1
    




  x_test.append(kernels)
  y_test.append(int(count/60))
  count +=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [ ]:
df1

,Gabor1,Gabor2,Gabor3,Gabor4,Gabor5,Gabor6,Gabor7,Gabor8,Gabor9,Gabor10,...,Gabor11511,Gabor11512,Gabor11513,Gabor11514,Gabor11515,Gabor11516,Gabor11517,Gabor11518,Gabor11519,Gabor11520
0,0,0,255,163,91,50,34,19,0,0,...,255,23,0,0,255,255,165,118,57,4
1,0,0,255,167,97,53,39,21,0,0,...,251,51,0,0,255,255,0,0,123,83
2,0,0,255,174,107,58,46,25,0,0,...,255,82,0,0,255,255,165,116,224,163
3,0,0,255,174,103,56,41,21,0,0,...,255,52,0,0,255,255,14,0,103,47
4,0,0,255,175,104,58,44,25,0,0,...,255,76,0,0,255,255,95,61,32,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,0,0,255,151,86,47,34,18,0,0,...,255,92,0,0,255,255,124,66,202,116
39996,0,0,255,156,89,51,35,21,0,0,...,255,91,0,0,255,255,119,63,201,116
39997,0,0,255,158,95,54,41,23,0,0,...,255,96,0,0,255,255,115,59,222,137
39998,0,0,255,151,88,50,36,22,0,0,...,255,94,0,0,255,255,123,66,214,129
39999,0,0,255,140,81,39,30,11,0,0,...,255,88,0,0,255,255,117,60,199,113

In [ ]:
print(len(x_test))

360

In [ ]:
# y_test

# **Implementing KNN**

In [ ]:
#creating the KNearest Neighbor model and determining accuracy score
K_value = 5
neigh = KNeighborsClassifier(n_neighbors=K_value, weights='uniform', algorithm='auto')
neigh.fit(x_train, y_train)
predict1 = neigh.predict(x_test)
scoree = accuracy_score(y_test, predict1)
print("KNN testing accuracy=",scoree*100)